/* Application styles could go here */
body { padding-top: 70px; }
th {
    white-space: nowrap;
}

td {
    white-space: nowrap;
}

#content {
    margin-left: 20px;
}

#datatable_filter {
    float: left;
}

#tableDiv {
    margin-top: 50px;
}

#addRow {
    margin-left: 10px;
}

#addWine {
    margin-right: 10px;
}

#edWine {
    margin-right: 10px;
}

#delWine {
    margin-left: 20px;
    margin-right: 20px;
}

#showID {
    margin-left: 10px;
}

table.dataTable {
    margin-left: 0;
}

@media (min-width: 1500px) {
    .container {
        width: 1470px;
    }
}

@media (min-width: 2000px) {
    .container {
        width: 1970px;
    }
}
